<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cynosure"
    android:installLocation="auto">

    <application
        android:label="@string/wallpapers"
        android:theme="@android:style/Theme.Light"
        android:icon="@drawable/logo">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:label="@string/wallpaper_cynosure"
            android:name=".Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/cynosure" />
        </service>
        <activity
            android:label="@string/cynosure_settings"
            android:name=".WallpaperSettings"
            android:exported="true">
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-feature android:name="android.software.live_wallpaper" />
    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

</manifest>